<div class="d-flex flex-column flex-sm-row justify-content-between align-items-center mb-3">

  <!-- departure info -->
  <div class="d-flex justify-content-center align-items-center mb-2 mb-sm-0">
    <img class="me-3 me-sm-2" src="https://flagcdn.com/<%= @flight_data[:departure_country_code].downcase %>.svg" alt="<%= @flight_data[:departure_country_code] %>">
    <div class="d-flex flex-column align-items-center">
      <h4 class="my-0"><strong><%= @flight_data[:departure_airport] %></strong></h4>
      <p class="my-0"><%= @flight_data[:departure_time] %></p>
    </div>
  </div>

  <!-- departure icon -->
  <div>
    <i class="aircraft-icon fa-sharp fa-solid fa-plane-departure"></i>
  </div>

  <!-- number, date, duration -->
  <div class="d-flex flex-column align-items-center">
    <p class="my-0"><%= @flight_data[:flight_number] %></p>
    <p class="my-0"><%= format_date(@flight_data[:departure_date]) %></p>
    <p class="my-0"><%= duration(@flight_data[:duration]) %></p>
  </div>

  <!-- arrival icon -->
  <div>
    <i class="aircraft-icon fa-sharp fa-solid fa-plane-arrival"></i>
  </div>

  <!-- arrival info -->
  <div class="d-flex justify-content-center align-items-center mt-2 mt-sm-0">
    <div class="d-flex flex-column align-items-center">
      <h4 class="my-0"><strong><%= @flight_data[:arrival_airport] %></strong></h4>
      <p class="my-0 position-relative"><%= @flight_data[:arrival_time] %>
        <% if date_comparison(@flight_data[:departure_date], @flight_data[:arrival_date]) %>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-bg-danger p-1 ms-1 mt-1" style="font-weight: 400;">+1
            <span class="visually-hidden">Arrive next day</span>
          </span>
        <% end %>
      </p>
    </div>
    <img class="ms-3 ms-sm-2" src="https://flagcdn.com/<%= @flight_data[:arrival_country_code].downcase %>.svg" alt="<%= @flight_data[:arrival_country_code] %>">
  </div>

</div>

<!-- button -->
<div class="row justify-content-center">
  <div class="col col-sm-6">
    <%= form_with model: Flight.new, url: flights_path, method: :post, data: { turbo: false } do |f| %>

      <div class="d-none">
        <%= f.hidden_field :number, value: @flight_data[:flight_number] %>
        <%= f.hidden_field :departure_date, value: @flight_data[:departure_date] %>
        <%= f.hidden_field :departure_time, value: @flight_data[:departure_time] %>
        <%= f.hidden_field :departure_date_utc, value: @flight_data[:departure_date_utc] %>
        <%= f.hidden_field :departure_time_utc, value: @flight_data[:departure_time_utc] %>
        <%= f.hidden_field :departure_country_code, value: @flight_data[:departure_country_code] %>
        <%= f.hidden_field :arrival_date, value: @flight_data[:arrival_date] %>
        <%= f.hidden_field :arrival_time, value: @flight_data[:arrival_time] %>
        <%= f.hidden_field :arrival_date_utc, value: @flight_data[:arrival_date_utc] %>
        <%= f.hidden_field :arrival_time_utc, value: @flight_data[:arrival_time_utc] %>
        <%= f.hidden_field :arrival_country_code, value: @flight_data[:arrival_country_code] %>
        <%= f.hidden_field :duration, value: @flight_data[:duration] %>
        <%= f.hidden_field :distance, value: @flight_data[:distance] %>
        <%= f.hidden_field :airline_code, value: @flight_data[:flight_number].split.first %>
        <%= f.hidden_field :aircraft_code, value: @flight_data[:aircraft_code] %>
        <%= f.hidden_field :departure_airport_code, value: @flight_data[:departure_airport] %>
        <%= f.hidden_field :arrival_airport_code, value: @flight_data[:arrival_airport] %>
      </div>

      <%= f.submit t('.add_flight'), class: 'btn btn-info w-100 text-white', style: 'font-size: 16px;' %>
    <% end %>
  </div>
</div>
