<h1>Search flights</h1>

<%= form_with url: search_flights_path, method: :get, id: 'flight-search-form', data: { turbo_frame: 'flight_result' } do |form| %>
  <div>
    <%= form.label :carrier, 'Carrier' %>
    <%= form.text_field :carrier, required: true %>
  </div>

  <div>
    <%= form.label :flight_number, 'Flight number' %>
    <%= form.text_field :flight_number, required: true %>
  </div>

  <div>
    <%= form.label :date, 'Date' %>
    <%= form.date_field :date, required: true %>
  </div>

  <div>
    <%= form.submit 'Search' %>
  </div>
<% end %>


<%= turbo_frame_tag 'flight_result' do %>
  <!-- Flight result -->
<% end %>
