<%= turbo_frame_tag 'flight_result' do %>
  <div class="flight-card py-4 px-3">
    <h2 class="text-center mb-3"><%= t('.search_result') %></h2>
    <div class="flight-info">
      <div class="departure-info">
        <img src="https://flagcdn.com/<%= @flight_data[:departure_country_code].downcase %>.svg" alt="<%= @flight_data[:departure_country_code] %>">
        <div class="airport-time-info">
          <h4><strong><%= @flight_data[:departure_airport] %></strong></h4>
          <p><%= @flight_data[:departure_time] %></p>
        </div>
      </div>

      <div class="flight-number-duration-info">
        <p><%= @flight_data[:departure_date] %></p>
        <p><%= duration(@flight_data[:duration]) %></p>
        <i class="fa-solid fa-plane"></i>
        <p><%= @flight_data[:flight_number] %></p>
      </div>

      <div class="arrival-info">
        <div class="airport-time-info">
          <h4><strong><%= @flight_data[:arrival_airport] %></strong></h4>
          <p><%= @flight_data[:arrival_time] %></p>
        </div>
        <img src="https://flagcdn.com/<%= @flight_data[:arrival_country_code].downcase %>.svg" alt="<%= @flight_data[:arrival_country_code] %>">
      </div>
    </div>
  </div>
<% end %>
