<%= turbo_frame_tag 'flight_result' do %>
  <div id='flight_result'>
    <h2 class="text-center mb-3">Search result</h2>
    <p>Flight number: <%= @flight_data[:flight_number] %></p>
    <p>Departure airport: <%= @flight_data[:departure_airport] %></p>
    <p>Departure time: <%= @flight_data[:departure_time] %></p>
    <p>Arrival airport: <%= @flight_data[:arrival_airport] %></p>
    <p>Arrival time: <%= @flight_data[:arrival_time] %></p>
  </div>
<% end %>
