<div class="row justify-content-center">
  <div class="col-6">
    <div class="custom-form">

      <h1 class="text-center mb-3"><%= t('.title') %></h1>

      <%= form_with model: @user do |f| %>
        <div class="row mb-3">
          <div class="col-6">
            <%= f.email_field :email_address, placeholder: t('.email_address'), class: 'form-control' %>
          </div>
          <div class="col-6">
            <%= f.text_field :name, placeholder: t('.name'), class: 'form-control' %>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6">
            <%= f.password_field :password, placeholder: t('.password'), class: 'form-control' %>
          </div>
          <div class="col-6">
            <%= f.password_field :password_confirmation, placeholder: t('.password_confirmation'), class: 'form-control' %>
          </div>
        </div>

        <%= f.submit t('.sign_up'), class: 'btn btn-primary w-100 mb-3' %>
      <% end %>

      <div class="links d-flex">
        <%= link_to t('.forgot_password'), new_password_path %>
        <%= link_to t('.log_in'), login_path %>
      </div>

    </div>
  </div>
</div>
