<% @aircrafts.first(5).each do |aircraft_name, count| %>
  <div class="card-row d-flex justify-content-between align-items-center border-bottom">
    <i class="my-1 stats-icon fa-solid fa-plane"></i>
    <p class="my-1"><%= aircraft_name %></p>
    <p class="my-1 text-secondary"><strong><%= count %></strong></p>
  </div>
<% end %>

<div class="d-flex justify-content-center align-items-center mt-1">
  <%= link_to t('.show_all'), "#", data: { bs_toggle: 'modal', bs_target: "#aircraftsModal" } %>
</div>

<div class="modal fade" id="aircraftsModal" tabindex="-1" aria-labelledby="aircraftsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header pb-0" style="border-bottom: none;">
        <h4 class="modal-title fs-5" id="aircraftsModalLabel"><%= t(title_key) %></h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% @aircrafts.each do |aircraft_name, count| %>
          <div class="card-row d-flex justify-content-between align-items-center border-bottom">
            <i class="my-1 stats-icon fa-solid fa-plane"></i>
            <p class="my-1"><%= aircraft_name %></p>
            <p class="my-1 text-secondary"><strong><%= count %></strong></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
