<div class="row justify-content-center">
  <div class="col-lg-6 col-md-8 col-sm-10 col-12">
    <div class="stats p-4">
      <h1 class="text-center mb-3"><%= t('.title') %></h1>

      <div class="stat-card mb-2 p-3">
        <h4 class="text-center mb-2 border-bottom border-primary"><%= t('.flights') %></h4>
        <% if @flights.empty? %>
          <p class="text-center"><%= t('.no_data') %></p>
        <% else %>
          <%= render 'flights' %>
        <% end %>
      </div>

      <div class="stat-card mb-2 p-3">
        <h4 class="text-center mb-2 border-bottom border-primary"><%= t('.airports') %></h4>
        <% if @airports.empty? %>
          <p class="text-center"><%= t('.no_data') %></p>
        <% else %>
          <%= render 'airports', object: @airports, modal_id: 'allAirportsModal', title_key: '.airports' %>
        <% end %>
      </div>

      <div class="stat-card mb-2 p-3">
        <h4 class="text-center mb-2 border-bottom border-primary"><%= t('.departure_airports') %></h4>
        <% if @departure_airports.empty? %>
          <p class="text-center"><%= t('.no_data') %></p>
        <% else %>
          <%= render 'airports', object: @departure_airports, modal_id: 'departureAirportsModal', title_key: '.departure_airports' %>
        <% end %>
      </div>

      <div class="stat-card mb-2 p-3">
        <h4 class="text-center mb-2 border-bottom border-primary"><%= t('.arrival_airports') %></h4>
        <% if @arrival_airports.empty? %>
          <p class="text-center"><%= t('.no_data') %></p>
        <% else %>
          <%= render 'airports', object: @arrival_airports, modal_id: 'arrivalAirportsModal', title_key: '.arrival_airports' %>
        <% end %>
      </div>

      <div class="stat-card mb-2 p-3">
        <h4 class="text-center mb-2 border-bottom border-primary"><%= t('.airlines') %></h4>
        <% if @airlines.empty? %>
          <p class="text-center"><%= t('.no_data') %></p>
        <% else %>
          <%= render 'airlines', title_key: '.airlines'  %>
        <% end %>
      </div>

      <div class="stat-card mb-2 p-3">
        <h4 class="text-center mb-2 border-bottom border-primary"><%= t('.aircrafts') %></h4>
        <% if @aircrafts.empty? %>
          <p class="text-center"><%= t('.no_data') %></p>
        <% else %>
          <%= render 'aircrafts', title_key: '.aircrafts'  %>
        <% end %>
      </div>

      <div class="stat-card mb-2 p-3">
        <h4 class="text-center mb-2 border-bottom border-primary"><%= t('.countries') %></h4>
        <% if @countries.empty? %>
          <p class="text-center"><%= t('.no_data') %></p>
        <% else %>
          <%= render 'countries', title_key: '.countries' %>
        <% end %>
      </div>

      <div class="stat-card mb-2 p-3">
        <h4 class="text-center mb-2 border-bottom border-primary"><%= t('.regions_and_subregions') %></h4>
        <%= render 'regions_and_subregions' %>
      </div>

    </div>
  </div>
</div>
